main {
    min-height: calc(100vh - 160px);
  }

  footer {
    background-color: #10cdee;
    bottom: 0;
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.5);
}

footer p {
    color: #c3c2c2
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #9b9a9b;
    transform: scale(1.05);
    transition: color 0.3s, text-shadow 0.3s;
}

